.chatInput {
  border-radius: 20px;
}
.chatInput > form {
  display: flex;
  justify-content: center;
  position: relative;
}
.chatInput > form > input {
  bottom: 30px;
  width: 100%;
  height: 45px;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 20px;
  font-size: unset;
}
.chatInput > form > button {
  display: none !important;
}
