.sidebar {
  background-color: var(--slack-color);
  color: white;
  border-top: 1px solid #49274b;
  max-width: 240px;
}
.sidebar > hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #49274b;
}
