.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: var(--slack-color);
  padding: 10px 0px;
}
.header__left {
  flex: 0.3;
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.header__left > .MuiSvgIcon-root {
  margin-left: auto;
  margin-right: 20px;
}

.header__search {
  flex: 0.4;
  display: flex;
  background-color: #421f44;
  text-align: center;
  padding: 0 50px;
  color: grey;
  border: 1px grey solid;
  border-radius: 6px;
}
.header__search > input {
  background-color: transparent;
  border: none;
  text-align: center;
  min-width: 35vw;
}

.header__right {
  flex: 0.2;
  display: flex;
  align-items: flex-end;
}
.header__right > .MuiSvgIcon-root {
  margin-left: auto;
  margin-right: 20px;
}
