.chat__messages {
  display: flex;
  align-items: center;
  padding: 10px;
}

.chat__messages > img {
  height: 40px;
  width: 40px;
  object-fit: contain;
  border-radius: 7px;
}

.message__info {
  padding-left: 20px;
}
.message__info > p {
  font-size: small;
  font-weight: normal;
}

.message__timestamp {
  color: gray;
  font-weight: 300;
  font-size: 13px;
}
